.desktop2{
    padding-bottom:400px;
}

.desktop2-bottom{
    padding:50px;
    display: flex;
    flex-direction: column;
    gap:50px;
}


.desktop2-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.desktop2-header h1{
    color: var(--Black-900, #333);
    /* Normal/56/500-Medium */
    font-family: Montserrat;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding: 0;
}
.desktop2-header span{
    color: var(--Black-400, #888);
    /* Normal/20/500-Medium */
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* FilterBar.css */
.filter-bar {
    display: flex;
    align-items: center;
    gap:50px;
    justify-content: space-between;
  }
  .filter-bar-left, .filter-bar-right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .filter-bar-right{
    width: 50%;
    justify-content: flex-end;
  }
  
  .filter-item {
    padding: 20px 10px;
    border-radius: 8px;
    border: 1px solid var(--Black-200, #D1D1D1);
    cursor: pointer;
    background-color: white;
    white-space: nowrap;
    color: var(--Black-400, #888);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
  }
  
  .filter-item select {
    appearance: none; 
    border: none;
    outline: none;
    background-color: transparent;
  }
  
  .search-bar {
    width: 70%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Black-200, #D1D1D1);
    padding: 20px 10px;
    flex-grow: 1;
      

  }
  
  .search-bar input {
    border: none;
    outline: none;
    flex-grow: 1;
    color: var(--Black-400, #888);
    /* Normal/14/500-Medium */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  
  .search-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
    .filter-bar {
      flex-wrap: wrap;
    }
    
    .filter-item, .search-bar {
      flex-basis: 100%;
      margin-bottom: 10px;
    }
  }
  

